*{
    margin: 0% auto;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

a{
    font-size: large;
    color: black;
    padding-left: 10px;
}

i{
    color: black;
}


#title{
    display: flex;
    flex-direction: row;
    text-align: center;
    font-size: 1.5rem;
    margin-top: 5px;
    margin-bottom: 5px;
    height: 100%;
}

.title_log{
    display: flex;
    flex-direction: row;
    padding-left: 40px;
    align-items: flex-end;
}

#title h1{
    margin-top: 20px;
    margin-bottom: 20px;
    height: 100%;
}
