/* 쪽지 보내기(message_form.php) */

.top_buttons{
display: flex;
flex-direction: row;
justify-content: center;
}


#message_box { 
    position: relative; 
    width: 800px; 
    margin: 0 auto;  
}
#message_box h3 { margin-top: 30px;	padding: 10px; border-bottom: solid 2px #516e7f; font-size: 20px; }
#write_msg { padding: 0 20px; }
#write_msg span { display: inline-block; }
#write_msg .col1 { width: 150px; }
#write_msg li {	padding: 12px; border-bottom: solid 1px #dddddd; }
#write_msg input { width: 500px; height: 25px; }
#write_msg textarea { width: 500px;	height: 150px; }
#write_msg #text_area {	position: relative;	height: 158px; }
#write_msg #text_area .col1 { position: absolute; top: 10px; }
#write_msg #text_area .col2 { position: absolute; left: 166px; }
#write_msg button {	
    margin: 15px 0 30px 580px;	
    padding: 5px 23px; cursor: pointer; 
 
}




